body {
  margin: 0;
  margin: 0 25%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: linear-gradient(241deg, #597990 24%, #db8e5a);
  padding: 20vw 0;
  text-align: center;
}
.App-title {
  color: #fffaf0;
  font-size: 2rem;
}
.App-count {
  font-size: 2rem;
}
.App-btn {
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}